{
  "extends": ["airbnb-base"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "consistent-return": [0, {"treatUndefinedAsUnspecified": true}],
    "no-param-reassign": [2, { "props": false }]
  }
}
